<h1>Admin Panel</h1>

<%= link_to "Administrar Cuentas de Expedientes", admin_templates_panel_path %><br/>
<%= link_to "Ginecológos", all_gynecologists_path %><br/>
<%= link_to "Oftalmológos", all_ophthalmologists_path  %><br/>

