<h1>Administrador de Cuentas de Expedientes.</h1>


<% if current_admin.superadmin? %>	
	<%= link_to "Planes de Expedientes", template_plans_path %><br/>
<% end %>

<%= link_to "Añadir o Cambiar Plan de Expediente", add_template_plan_path %><br/>
<%= link_to "Planes de expedientes vencidos (Período de Gracia)", overdue_template_plans_path %><br/>