<h1> Planes de Expedientes que vencieron hoy</h1>
<p>Estos planes entran en un período de gracia de 15 días antes de su cancelación total, contacta a los doctores para que realicen su pago o confirmalo para que no se cancele su cuenta.</p>


<% @overdue_plans.each do |plan| %>
	<% plan.plan_elements.each do |element| %>
		<% if element.element_type == "TemplatePlan" %>
			<%= link_to element.element.name, plan %>. Del <%= plan.doctor.name %><br/>
		<% end %>
	<% end %>
<% end %>