#sidebar
{
	top:0;
	left:0;
	display:flex; 
	flex-direction:column; 
	align-items:flex-start; 
	justify-content:flex-start;
	position:fixed; 
	min-height:100%; 
	width:420px; 
	padding-top:48px;
	background:#263238;
	color:#ffffff;
	z-index:100;
	form
	{
		display:flex; 
		flex-direction:column; 
		justify-content:flex-start; 
		align-items:flex-start;
		input
		{
			padding:24px;
			font-size:24px;
		}
		input:not([type="submit"])
		{
			width:100%; 
		}
	}
	a
	{
		padding:24px; 
		margin:0; 
		background:#37474F; 
		width:100%;
	}
	p
	{
		margin:0; 
		width:100%;
	}
	.notice
	{
		background:#ff9800;
		padding:24px; 
	}	
	.expedient-count
	{
		padding:24px;
		p
		{
			padding-bottom:24px;
		}
	}
}