<%= link_to "Nuevo Expediente", new_gynecology_template_path %><br/>
<% @gynecology_templates.each do |expedient| %>
	<div>
		<%= expedient.id %>
		
		<%= link_to expedient.patient.name, expedient %>
	
	</div>
<% end %>
