<%= link_to "Nuevo Expediente", new_gynecology_template_path %><br/>
<% @gynecology_templates.each do |expedient| %>
	<div>
		<%= expedient.id %>
		<% expedient.patients.each do |patient| %>
			<%= link_to patient.name, expedient %>
		<% end %>
	</div>
<% end %>
