html,
body
{
	background:#F8F8F8;
	font-family: 'Atlas Grotesk';
	font-weight:300;
	font-style:normal;
}
input[type],
option
{
	font-family: 'Atlas Grotesk';
	font-weight: normal;
	font-style:normal;
}