/* line 1, /Users/ilse/Documents/nosoyilse/medfiles/app/assets/stylesheets/base/atoms.scss */
input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

/* line 6, /Users/ilse/Documents/nosoyilse/medfiles/app/assets/stylesheets/base/atoms.scss */
a {
  padding: 8px;
  background-color: #7F9CAA;
  border-radius: 2px;
}

/* line 12, /Users/ilse/Documents/nosoyilse/medfiles/app/assets/stylesheets/base/atoms.scss */
label {
  color: #616161;
}

/* line 16, /Users/ilse/Documents/nosoyilse/medfiles/app/assets/stylesheets/base/atoms.scss */
input[type="radio"] {
  height: 24px !important;
  width: 24px !important;
}

/* line 21, /Users/ilse/Documents/nosoyilse/medfiles/app/assets/stylesheets/base/atoms.scss */
.center-content {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0;
  padding: 0 0;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 47, /Users/ilse/Documents/nosoyilse/medfiles/app/assets/stylesheets/base/atoms.scss */
.center-content > h4 {
  margin-top: 144px;
}
