#annex-links
{
	width:100%; 
	display:flex; 
	flex-direction:row; 
	justify-content:space-between;
}
canvas 
{
	width:100%; 
	height:100%;
	border-radius:3px;
	margin-top:12px;
}
::-webkit-input-placeholder {
   color: #424242;
   opacity:.22;
}

:-moz-placeholder { /* Firefox 18- */
   color: #424242;  
   opacity:.22;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #424242;  
   opacity:.22;
}

:-ms-input-placeholder {  
   color: #424242;  
   opacity:.22;
}
.form-container
{
	width:822px; 
	padding:24px 0;
	&:last-of-type
	{
		padding-bottom:144px;
	}
	// display:-webkit-box;
	// display:-webkit-flex;
	// display:-moz-box;
	// display:-ms-flexbox;
	// display:flex;
	// margin:0 0;
	// padding:0 0;
	// -webkit-flex-flow: column wrap;
	//     -ms-flex-flow: column wrap;
	//         flex-flow: column wrap;
	// -webkit-box-pack:center;
	// -webkit-justify-content:center;
	//    -moz-box-pack:center;
	//     -ms-flex-pack:center;
	//         justify-content:center;
	// -webkit-box-align:center;
	// -webkit-align-items:center;
	//    -moz-box-align:center;
	//     -ms-flex-align:center;
	//         align-items:center;
	form
	{
		// background:#FFFFFF;
		width:100%;
		// overflow:auto;
		// overflow:hidden;
	}
	form h4 
	{
		padding:12px;
		margin:12px 0;	
	}
	form p 
	{
		color:#212121;
		padding-top:12px;
	}
	form input[type] 
	{
		padding-top:11px;
	}
	*::placeholder 
	{
		color:#424242;
		opacity:0
	}
	form input[type="submit"]
	{
		background:#DDEBD7;
		border-radius:2px;
		margin:14px; 
	}
	form > div
	{
		display:inline-block;
		width:820px;
		background:#F8F8F8;
		// position:absolute;
		// overflow-x:hidden;
	}
	form > div > div 
	{
		background:#FFFFFF;
	}

	form > div > div > div
	{
		border: 1px solid #E5E5E5;
		padding:12px;
		transition:all .3s ease;
	}
	div[data-state=active]
	{
		background:#DCEAF1;
		border-color:#BBCED8;
		z-index:60;
	}
	div[data-state=filled]
	{
		background:#EAF2F7;
		border-color:#D6E2E8;
		z-index:50;
	}
	div[data-state=checked] {
		background:#DDEBD7;
		border-color:#B7CEAA;
		z-index:50;
	}
	.field > div, 
	.single-field > div, 
	.double-field > div, 
	.multi-field > div,
	form input[type="submit"]
	{
	    margin:-1px 0 0 -1px;	
	}
	input:focus + div
	{
		background:red;
	}
	.double-field
	{
		// padding:12px;
	}
	input
	{
		width:100%;
		padding-top:12px;
		font-size:18px;
	 	background:none;
	}
	.field,
	.single-field
	{
		width:100%;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow: column wrap;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		-webkit-box-align:stretch;
		-webkit-align-items:stretch;
		    -ms-flex-align:stretch;
		        align-items:stretch;	
	}
	.field div,
	.single-field div
	{

		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;	
		-webkit-flex-flow: column wrap;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		-webkit-align-items:flex-start;
			-moz-box-align:start;
			-ms-flex-align:start;
			-ms-grid-row-align:flex-start;
				align-items:flex-start;		
	}

	.field input,
	.single-field input
	{
		// width:100%;
		// padding:18px;
		// font-size:18px;
	 // 	background:none;
		// border-style: solid;
		// border-width: 4px;	
	}
	.double-field,
	.multi-field
	{
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow: row wrap; 
		    -ms-flex-flow: row wrap; 
		        flex-flow: row wrap;
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		-webkit-box-align:stretch;
		-webkit-align-items:stretch;
		    -ms-flex-align:stretch;
		        align-items:stretch;	
	}
	.double-field > div
	{
		width:25%;
	}
	.double-field > div,
	.multi-field > div
	{
		flex-basis:1;
		flex-grow:1;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;	
		-webkit-flex-flow: column wrap;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-align:baseline;
		-webkit-align-items:baseline;
		   -moz-box-align:baseline;
		    -ms-flex-align:baseline;
		        align-items:baseline;
		-webkit-box-align:start;
		-webkit-align-items:flex-start;
			-moz-box-align:start;
			-ms-flex-align:start;
			-ms-grid-row-align:flex-start;
				align-items:flex-start;		
	}
	.double-field input,
	.multi-field input
	{
		// width:100%;
		// padding:18px 0px;
		// font-size:18px;
	 // 	background:none;
	}
	form > div > div> .checkbox
	{
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow: row wrap; 
		    -ms-flex-flow: row wrap; 
		        flex-flow: row wrap;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		   -moz-box-pack:justify;
		    -ms-flex-pack:justify;
		        justify-content:space-between;
		-webkit-box-align:center;
		-webkit-align-items:center;
		   -moz-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
	}
	form > div > div > div > span
	{
		width:100%;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow: row wrap; 
		    -ms-flex-flow: row wrap; 
		        flex-flow: row wrap;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		   -moz-box-pack:justify;
		    -ms-flex-pack:justify;
		        justify-content:space-between;
		-webkit-box-align:center;
		-webkit-align-items:center;
		   -moz-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
		        padding-top:8px; 
	}
	form > div > div > div > span > label,
	form > div > div > div > span > input
	{
		width: auto;
	}
	.date-select
	{
		display:flex; 
		flex-direction:row; 
		align-items:flex-start;
		justify-content:flex-start;
	}
	select
	{
		color:#424242; 
		background:#E5E5E5;
		border:solid 1px #BDBDBD;
		margin-top:8px;
		padding:8px;
		margin-left:8px;
	}
	option 
	{
		padding:8px !important; 
		background:#E5E5E5;
		border-bottom:solid 1px #BDBDBD; 
	}
	form input[type="submit"]
	{
		padding:18px;
		background-color:#58BEF1;
		color:white; 
		margin-top:36px;
		transition: color .1s ease, background-color .1s ease-in;
	}
	form input[type="submit"]:hover
	{
		padding:18px;
		color:#58BEF1;
		background-color:white; 
		margin-top:36px;
	}
	.add-form
	{
		display:flex;
		width:100%; 
		margin:24px 0;
	}
}